/* 
  UTILS
 */
 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*  */

/* 
  NAVBAR STYLING
 */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: teal;
  color: #ffffff;
}

.nav-links a {
  color: #ffffff;
}

/* Logo start */
.navbar-logo {
  font-size: 32px;
}
/* Logo end */

/* Navbar menu start */
.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.nav-menu li:hover {
  background-color: #4c9e9e;
  border-radius: 4px;
  transition: 0.25s ease;
}

.nav-menu li {
  padding: 4px 16px;
}

/* Navbar dropdown start */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 40px;
}

.dropdown li + li {
  margin-top: 12px;
}

.dropdown li {
  padding: 0.4em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}
/* Navbar styling end */